*{
    margin: 0;
    padding: 4px;
    box-sizing: border-box 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0F172A;
    color: #E2E8F0;
}
.p1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #E2E8F0;
}
.productivity {
    width: 300px;
    padding: 20px;
    border: solid #E2E8F0;
    border-radius: 2px;
    margin: 2px ;
}
.footer {
    text-align: center;
    padding: 10px;
    background-color: #1E293B;
    color: #E2E8F0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
